*{
  font-family: sans-serif;
}

body {
  background-color: #f4f4f4;
}

.blogcard {
  background-color: #ffffff;
  padding: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.previewcontainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.blogpreviewimage {
  display: block;
  width: 100%;
}

.blogheaderimage {
  display:block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.blogcontent {
  width: 90%;
  margin: 0 auto;
}

.blogheaderwrapper p, .blogheaderwrapper h1 {
  width: 90%;
  margin: 2rem auto;
} 

